.maptalks-Toc{
    background-color: aqua;
    border:2px solid green;
    width: 200px;
    height:200px;
}
.maptalks-name{
    color: red;
    display: inline;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

